.favorite-container {
	width: 140px;
	height: auto;
	background-color: lightgray;
	box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 30%;
	right: 10px;
	border-radius: 10px;
}

.favorite-section {
	padding: 10px;
}

.fav-img {
	width: 120px;
	height: 110px;
    border-radius: 10px;
}

.fav-title{
    text-align: center;
}