.food-page{
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (max-width:430px){
    .food-page{
        width: auto;
    }
}